

body {
  font-family: 'roboto';
  background: #FFFFFF;  
  margin: 0;
  text-align: center;
}

#billboard{
  display: flex;
  justify-content: center;
  overflow: hidden;
}
  
#billboard img {
  display: inline-flex;
  background: #65eecd;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#banner{
  display: flex;
  justify-content: center;
}

#banner img {
  display: inline-flex;
  background: #65eecd;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'playlistscript';
  font-size: 60px;
  margin-bottom: 0px;
}

#footer {
  background: #222222;
  height: 150px;
  color: white;
  width: 100%;
}

#footer ul {
  margin: 0;
  display: flex;
  list-style-type: none;
  padding: 50px;
  flex-direction: row;
  text-align: left;
  justify-content: center;
}

#footer li {
  display:inline-flex;
  height: 25px;
  padding: 10px;
  margin: 0;
  
}

#footer img {
  height: 30px;;
}

#footer h3 {
  font-weight: normal;
  font-size: 12px;
  font-family: 'roboto';
  margin: 0;
  padding: 7px;
  
}
  
  
  
  @media only screen and (max-width: 910px){

  }
  
  @media only screen and (max-width: 500px){

  }